<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        {{#if userLogin}}
        <li class="nav-item">
          <a class="btn btn-outline-primary" aria-current="page" href="/new-product">Nowy produkt</a>
        </li>
        {{/if}}
      </ul>
      <form class="d-flex">
        <select class="form-control me-2" name="kategoria">
            {{#select kategoria}}
              <option value="">Wszystko</option>
              <option value="Ubrania">Ubrania</option>
              <option value="Zabawki">Zabawki</option>
              <option value="Sport">Sport</option>
            {{/select}}
        </select>
        <button class="btn btn-outline-success" type="submit">Pokaż</button>
      </form>
    </div>
  </div>
</nav>

<table class="table table-hover table-products">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Ilość</th>
            <th>Kategoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.Id}}</td>
            <td>{{this.Nazwa}}</td>
            <td>{{this.Cena}}</td>
            <td>{{this.Ilosc}}</td>
            <td>{{this.Kategoria}}</td>
            <td>
                {{#if ../userLogin}}
                    <form action="delete-product?id={{this.Id}}" method="POST" class="form form-inline">
                      <a href="edit-product/?id={{this.Id}}" class="btn btn-sm"><i class="bi bi-pencil-square"></i></a>

                      <button type="submit" class="btn btn-sm btn-outlince-danger">&times;</button>
                    </form>

                    
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
